In [2]:
import finnhub

# Configure API key
configuration = finnhub.Configuration(
    api_key={
        'token': 'brmf0inrh5re15om3qog' # Replace this
    }
)

finnhub_client = finnhub.DefaultApi(finnhub.ApiClient(configuration))

In [5]:
import pyspark
import pandas as pd

start=1592870400
end=1561507200
master=pd.DataFrame()
while(start>end):
    candleJSON=finnhub_client.stock_candles('SPY', '1', end, int(start))
    if not candleJSON.c:
        break
    df=pd.DataFrame({'Open':candleJSON.o,
                     'High':candleJSON.h,
                     'Low':candleJSON.l,
                     'Close':candleJSON.c,
                     'Volume':candleJSON.v,
                     'Time':candleJSON.t,
                     'Status':candleJSON.s})
    print(df['Time'][0])
    start=df['Time'][0]-60 #Change 60 if we move away from 1 min candles
    master=pd.concat([df,master]).reset_index(drop=True)
master.to_parquet('SPYcandlestick.parquet')
display(master)

1585919700
1578704580
1571054460
1563278460
1562001240

          Open    High       Low     Close     Volume        Time Status
0       296.59  296.60  296.5800  296.5800     8419.0  1562001240     ok
1       296.60  296.60  296.5899  296.5899     2907.0  1562001300     ok
2       296.58  296.59  296.5800  296.5800     7145.0  1562001360     ok
3       296.59  296.60  296.5700  296.6000     1444.0  1562001420     ok
4       296.62  296.62  296.6000  296.6000     5246.0  1562001480     ok
...        ...     ...       ...       ...        ...         ...    ...
201626  310.43  310.70  310.4300  310.6700   466966.0  1592870160     ok
201627  310.67  310.84  310.6700  310.7225   471539.0  1592870220     ok
201628  310.73  310.76  310.6300  310.7000   448895.0  1592870280     ok
201629  310.70  310.82  310.5800  310.6800  1606542.0  1592870340     ok
201630  310.71  310.82  310.5000  310.8200   347619.0  1592870400     ok

[201631 rows x 7 columns]

In [ ]:
import pyarrow.parquet as pq
parquet_file = pq.ParquetFile('SPYcandlestick.parquet')

In [ ]:
candleJSON=finnhub_client.stock_candles('SPY', '1', end, int(start))
if not candleJSON.c:
    print('Empty')
# Revenue Estimates
#print(finnhub_client.company_revenue_estimates('TSLA', freq='quarterly'))

In [ ]:
# Basic financials
print(finnhub_client.company_basic_financials('AAPL', 'margin'))

In [ ]:

# Earnings surprises
print(finnhub_client.company_earnings('T', limit=10))

In [ ]:
# Major developments
print(finnhub_client.major_developments('TSLA', _from="2019-01-01", to="2020-12-31"))

In [ ]:
# Recommendation trends
print(finnhub_client.recommendation_trends('AAPL'))

In [ ]:
# Stock dividends
print(finnhub_client.stock_dividends('AAPL', _from='2019-01-01', to='2020-06-01'))

In [ ]:
# Stock splits
print(finnhub_client.stock_splits('AAPL', _from='2000-01-01', to='2020-01-01'))